/*
* require material_icons_unicode
*/

@import 'bootstrap','fonts','materialdesignicons','animate.min.css';

body{
	font-family: 'Signika';
}

.bm-item-list{
	a{
		&:hover{

			text-decoration: none;
			span{
				
				color: #0261AA;
			}
		}
	}
	
}

.main-carousel{
	background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}



.theme{
	height: auto;
	display: inline-block;
	margin: 0.5em 0.5em 0.5em 0.5em;
	.theme-title{

		background-color: #4BABF4;
		.h2{
			margin: 0.5em 1em 0.5em 1em;
		}
	}	
	.theme-body{
		height: auto;
	}
}

.critic{
	display: inline-block;
	background-color: #EEE;
	border-radius: 5px;
	margin: 10px 10px 10px 10px;


	.critic-title{
		text-align: center;
		background-color: #64AF06;
		border-radius: 25px;

		padding-left: 10px;
	}
	.critic-subtitle{
		background-color: #072236;
		border-radius: 25px;
		color: #FFF;
		padding-left: 10px;
	}

}

.footer{
	margin-top: 2em;
	background-color: #242435;
	color: #FFF;
	font-size: 1.5em;
	height: 10em;
}

.fill__all{
	width: 100%;
	height: 100%;
}

.nav__menu{
	position: fixed;
	z-index : 1;
}

.title_inline{
	display: inline-block;
}
