/*
* require material_icons_unicode
*/

@import 'bootstrap','fonts','materialdesignicons';


body{
	font-family: 'Signika';
}

.bm-item-list{
	a{
		&:hover{

			text-decoration: none;
			span{
				
				color: #0261AA;
			}
		}
	}
	
}

.main-carousel{
	background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}



.theme{
	height: 100px;
	display: inline-block;
	.theme-title{
		background-color: #4BABF4;
		padding-left: 10px;
	}	
	.theme-body{
		height: 100px;
	}
}

.critic{
	display: inline-block;
	background-color: #EEE;
	border-radius: 5px;
	margin: 10px 10px 10px 10px;


	.critic-title{
		text-align: center;
		background-color: #64AF06;
		border-radius: 25px;

		padding-left: 10px;
	}
	.critic-subtitle{
		background-color: #072236;
		border-radius: 25px;
		color: #FFF;
		padding-left: 10px;
	}

}

.footer{
	background-color: #242435;
	color: #FFF;
	font-size: 1.5em;
	height: 300px;
}


