// @font-face {
// 	font-family: 'Signika';
// 	src: font-url ('fonts/Signika-Bold.ttf') ;
// 	src: font-url ('fonts/Signika-Light.ttf') ;
// 	src: font-url ('fonts/Signika-Regular.ttf') ;
// 	src: font-url ('fonts/Signika-SemiBold.ttf') ;
// 	font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'Signika';
  src: url('signika-regular.ttf') format('truetype');
  src: url('signika-bold.ttf') format('truetype');
  src: url('signika-light.ttf') format('truetype');
  src: url('signika-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;  
}


@font-face {
	font-family: 'Roboto';
	src: url('roboto-regular.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}